{% extends "layout/base.html" %}
{% block title %}Thanh toán{% endblock %}
{% block content %}

<h3 class="mt-4 text-center text-primary">Nhập thông tin thanh toán</h3>
<div class="table-responsive">
    <form action="{{ url_for('payment') }}" id="create_form" method="post">
        <div class="form-group mt-2">
            <label for="order_type">Loại hàng hóa</label>
            <select name="order_type" id="order_type" class="form-control">
                <option value="billpayment">Thanh toán hóa đơn</option>
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="order_id">Mã hóa đơn</label>
            <input class="form-control" id="order_id" name="order_id" type="text" value="{{ hoadon_id }}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="amount">Số tiền</label>
            <input class="form-control" id="amount" name="amount" type="text"
                   value="{{  '{:,.0f}'.format(giohang.total_amount)  }}" readonly>
        </div>
        <div class="form-group mt-2">
            <label for="order_desc">Nội dung thanh toán</label>
            <textarea class="form-control" cols="20" id="order_desc" name="order_desc" rows="2" readonly>Thanh toán đơn hàng: {{ hoadon_id }}</textarea>
        </div>
        <div class="form-group mt-2">
            <label for="bank_code">Ngân hàng</label>
            <select name="bank_code" id="bank_code" class="form-control">
                <option value="">Không chọn</option>
                <option value="NCB">Ngân hàng NCB</option>
                <option value="AGRIBANK">Ngân hàng Agribank</option>
                <!-- ... (các option khác) ... -->
                <option value="IVB">Ngân hàng IVB</option>
                <option value="VISA">Thanh toán qua VISA/MASTER</option>
            </select>
        </div>
        <div class="form-group mt-2">
            <label for="language">Ngôn ngữ</label>
            <select name="language" id="language" class="form-control">
                <option value="vn">Tiếng Việt</option>
                <option value="en">English</option>
            </select>
        </div>
        <div class="text-end mt-2">
            <button type="submit" class="btn btn-default bg-danger text-white">Thanh toán Redirect</button>
        </div>
        <div class="form-group"></div>
    </form>
</div>
{% endblock %}
